.header{
    height: 50px;
    width: 700px;
    position: relative;
    border-bottom: 1px solid black;
}

.blue{
    background-color: #00b8de;
}

.green{
    background-color: #99cc33;
}

.details{
    padding-left: 10px;
    height: 80px;
    background-color: ivory;
}

h4{
    line-height: 10%;
}

.headerLogo{
    vertical-align: middle;
    height: 100%;
    width: auto;
    border-right: 1px solid black;
    box-sizing: border-box;
}

.headerName{
    font-size: 1.5em;
    color: white;
    margin-left: 20px;
    vertical-align: middle;
}

.column {
    float: left;
    width: 50%;
}
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.expandButton{
    float: right;
    font-size: xx-large;
    color: white;
    vertical-align: middle;
    height: 100%;
    width: 7%;
    background-color: inherit;
}