.card{
    height: 140px;
    width: 700px;
    border: 1px solid;
    margin: 5px;
}

.header{
    background-color: #00b8de;
    height: 40%;
}

.details{
    padding-left: 10px;
}

h4{
    line-height: 10%;
}

.headerLogo{
    vertical-align: middle;
    height: 100%;
    width: auto;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    box-sizing: border-box;
}

.headerName{
    font-size: 1.5em;
    color: white;
    margin-left: 20px;
    vertical-align: middle;
}

.column {
    float: left;
    width: 50%;
}
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}