.item{
    height: 30px;
    border: 1px solid;
    background-color: #00b8de;
    color: white;
    overflow-x: hidden;
    margin: 5px;
    padding: 5px;
    vertical-align: middle;
}

.itemList{
    width: 20%;
    border-right: 1px solid black;
}